@charset "utf-8";

body {font-family: 'Freesentation', 'Showhan'; font-size: 1.6rem; line-height: 1.5; color: #1e1e1e;  overflow-x: hidden;}

.inner2 { margin: 0 auto; padding: 0 5%;}

:root {
    --mainFont: 'Freesentation';
    --subFont: 'Showhan';
    --maincolor: #1e1e1e;
    --subcolor: #4FD9E2;
}


@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 시작 */
#mv { position: relative; overflow: hidden; white-space: nowrap; width: 100%;
    height: 919px;}

#mv video { width: 100%;  object-fit: cover; height: 100%;}
#mv .track p { display: inline; font-size: 10rem; margin: 0; padding-right: 150px; font-weight: 500; color: #fff; position: absolute; line-height: 1.3; text-align: center; left: 5%; bottom: 10%; }
#mv .track span { font-family: 'Showhan'; font-size: 7.5rem; padding-left: 30px;}

#mv .track2 {color: #fff; position: absolute; left: 50%; bottom: 5%; transform: translate(-50%,-50%); display: none;}
#mv .track2 p { font-size: 6.5rem;}
#mv .track2 span { font-family:'Showhan'; font-size: 5rem; display: block; text-align: center;}


#mv .mail { color: #fff; position: absolute; left: 5%; bottom: 5%; display: flex; gap: 50px;}

@media (max-width:1200px) {
    #mv .track p { font-size: 8rem;}
    #mv .track span { font-size: 6.5rem; padding-left: 10px;}
}

@media (max-width:768px) {
    #mv .track { display: none;}
    #mv .track2 { display: block;}
}
@media (max-width:500px) {
    #mv video { height: 900px;}
    #mv .track2 p { font-size: 5.2rem;}
    #mv .track2 span { font-size: 4rem;}
}


/* about me */
#about { width: 100%; cursor: url("../images/mc.png"), auto; background: #f5f5f5;}
#about .inner2 { width: 100%; height: 100%;  display: flex; flex-wrap: wrap; padding: 8% 10% 10%;}
#about .inner2 > div { width: calc(100%/2);}
#about h2 { font-family: 'Showhan'; font-size: 8rem; font-weight: 400; }

/* 자기 소개 영역 */
#about .intro { padding-top: 250px; }
#about .intro .first { font-size: 3.4rem; font-weight: 400; line-height: 1.2;}
#about .intro .first span { font-weight: 600; font-size: 4rem; position: relative;}
#about .intro .first span::before { display: block; content: ''; width: 8px; height: 8px; background: var(--subcolor); border-radius: 50%; position: absolute; left: 0; top: -8px;}

#about .intro .second { padding-top: 30px; font-size: 1.8rem; color: #666;}

#about .intro .third { font-size: 1.8rem; color: #666; width: 515px; padding-top: 15px;}

/* 이력소개 영역 right */
#about .right { padding-top: 100px; font-size: 1.8rem;}
#about .right .list { display: flex; align-items: flex-start;  padding-bottom: 20px;}
#about .right .list_left { flex: 1; text-transform: uppercase;
margin-left: 130px; font-weight: 700; }
#about .right .list_right { flex: 2; }

#about .right .list_right p { margin: 0; padding-bottom: 8px; display: flex; align-items: center; position: relative;}
#about .right .list_right p .circles-container { display: flex; gap: 10px; 
margin-left: 20px;}
#about .right .list_right p .circle { width: 8px; height: 8px;  background-color: #D9D9D9; border-radius: 50%;position: absolute; left: 30%; top: 20%;}
#about .right .list:last-child .list_right p {color: #666; padding-bottom: 10px;}

/* 반응형 */
@media (max-width:1200px) {
    #about h2 { font-size: 7rem;}
    #about .inner2 > div { width: 100%;}
    #about .right .list_left { margin-left: 0;}
    #about .intro { padding-top: 100px; padding-bottom: 50px;}
    }

@media (max-width:768px) {
    #about h2 { font-size: 5rem; padding-top: 50px;}
    #about .intro .first { font-size: 2.4rem; font-weight: 400; line-height: 1.2;}
    #about .intro .first span { font-weight: 600; font-size: 3rem; position: relative;}
    #about .intro .second { padding-top: 30px; font-size: 1.6rem;}
    #about .intro .third { font-size: 1.6rem; width: 515px; padding-top: 15px;}
    }

    @media (max-width:600px) {
        #about .intro { padding-bottom: 0;}
        #about .intro .second { width: 400px;}
        #about .intro .third { width: 400px;}
        #about .right { font-size: 1.6rem;}
        #about .right .list_left { font-size: 1.4rem;}
        #about .right .list_right { font-size: 1.4rem;}
    }

    @media (max-width:500px) {
        #about .intro .second { width: 300px; font-size: 1.5rem;}
        #about .intro .third { width: 300px; font-size: 1.5rem;}
    }

/* 스킬 원 영역 */
#about .right .list_right p .circles-container span:nth-child(2) {width: 8px;
height: 8px; background-color: #D9D9D9; border-radius: 50%;margin-left: 20px;}
#about .right .list_right p .circles-container span:nth-child(3) {width: 8px;
height: 8px; background-color: #D9D9D9; border-radius: 50%;margin-left: 40px;}
#about .right .list_right p .circles-container span:nth-child(4) {width: 8px; height: 8px; background-color: #D9D9D9; border-radius: 50%;margin-left: 60px;}
#about .right .list_right p .circles-container span:nth-child(5) {width: 8px;
height: 8px; background-color: var(--subcolor); border-radius: 50%;margin-left: 80px;}
        
/* java 원 영역 */
#about .right .list_right p:nth-of-type(5) .circles-container .circle:nth-child(4) { background-color: #4BCDD6; /* 네 번째 원의 색상 */}
#about .right .list_right p:nth-of-type(5) .circles-container .circle:nth-child(5) {background-color: #D9D9D9; /* 다섯 번째 원의 색상 */}



/* project 영역 */
#project {position: relative; background: #151D21;  color: #fff; } 
#project .inner22 { display: flex; justify-content: space-between; padding: 7% 0 5% 5%; flex-wrap: wrap;}
#project .inner22 .left1 { width: calc(100% / 3);}
#project .inner22 .right1 { width: calc(100% * 2 / 3);}


#project .inner22 .left1 h2 {font-family: var(--subFont); font-size: 8rem; font-weight: 400; margin-bottom: 50px;}
#project .inner22 .left1 ul li { border: 1px solid #fff; width: 500px; margin-bottom: 10px; color: #fff; font-size: 1.8rem; padding: 10px 20px; transition: all 0.5s;}
#project .inner22 .left1 ul li span { float: right;}


#project .right1 .pro1 ul li {  width: 100%; height: 100%; position: relative;}
#project .right1 .pro1 ul li img {transition: all 0.5s; display: block; width: 100%; height: 100%;}
#project .right1 .pro1 ul li:hover img { opacity: 0.2;}
#project .right1 .pro1 ul li dl {  position: absolute; left: 50%; bottom: 5%; transform: translate(-50%,-50%); text-align: center; display: none; transition: all 0.5s;}
#project .right1 .pro1 ul li:hover dl { display: block; }
#project .right1 .pro1 ul li dl dt { font-size: 2rem;}
#project .right1 .pro1 ul li dl dd { display: flex; gap: 20px; padding-top: 15px;}
#project .right1 .pro1 ul li dl dd a { display: block; color: #fff; border: 1px solid #fff; padding: 10px 0; margin: 0 auto; width: 150px;}
#project .right1 .pro1 ul li dl dd a:hover { background: var(--subcolor); color: var(--maincolor); border: 0;}

#project .cc { position: absolute; bottom: -5%; left: -5%;   animation: rotate 10s linear infinite; }

#project .swiper-button-next, #project .swiper-button-prev {  color: #fff; width: 30px; height: 30px; display: none; padding-top: 150px;}


@media (max-width:1700px) {
    #project .inner22  { gap: 50px;}
    #project .inner22 .left1 { width: 100%;}
    #project .inner22 .right1 {width: 100%;}
    #project .cc { display: none;}
}

@media (max-width:1200px) {
    #project .inner22 .left1 h2 { font-size: 7rem;}
}

@media (max-width:850px) {
    #project .inner22 .left1 ul li { width: 400px; font-size: 1.6rem;}
    #project .right1 .pro1 ul li dl dt { font-size: 1.8rem;}
    #project .right1 .pro1 ul li dl dd a { width: 120px;}
    #project .right1 .pro1 ul li dl dd { gap: 10px;}
}

@media (max-width:768px) {
    #project .swiper-button-next, #project .swiper-button-prev { display: block;}
    #project .inner22 .left1 h2 { font-size: 5rem; padding-top: 50px; margin-bottom: 20px;}
}

@media (max-width:500px) {
    #project .inner22 .left1 ul li { width: 300px;}
    #project .right1 .pro1 ul li dl dt { font-size: 1.5rem;}
    #project .right1 .pro1 ul li dl dd a { width: 100px;  font-size: 1.5rem;}
    #project .right1 .pro1 ul li dl dd { gap: 10px;  font-size: 1.5rem;}
}


/* ready 타이핑 효과 영역 */
#ready { position: relative; text-align: center;
    background: #F5F5F5; height: 100vh; display: flex; 
    flex-direction: column; justify-content: center; align-items: center; 
}
#ready .typing { margin: 0; }
#ready .typing h1 { font-size: 10rem; font-weight: 500; height: 120px; 
overflow: hidden; display: flex;  align-items: center; margin-left: 80px;
}
#ready .typing h1 span { font-family: var(--subFont);}
#ready .typing p { width: 620px; text-align: center; margin: 20px 0; 
    font-size: 2rem; color: #666666; min-height: 40px; }
#ready .icon  { animation: rotate 10s linear infinite;  position: absolute;
 left: 48%; bottom: 5%; transform: translate(-50%,-50%);}

@media (max-width:768px) {
    #ready .typing h1 { font-size: 6rem;}
    #ready .typing p {font-size: 1.6rem; width: 500px;}
}

@media (max-width:500px) {
    #ready .typing h1 { font-size: 5rem;}
    #ready .typing p {font-size: 1.6rem; width: 350px;}
    #ready .icon { left: 45%;}
}